*.tfstate
*.tfstate.backup
crash.log
*.log
*.tfvars
.terraform.lock.hcl
.terraform/
EKS_IAC/.terraform/
EKS_IAC/.terraform.lock.hcl
EKS_IAC/terraform.tfstate
EKS_IAC/terraform.tfstate.backup
EKS_IAC/terraform.tfvars
